{% extends 'base.html.twig' %}

{% block main %}
    <h2>Compute the Provision</h2>

    {% if amount %}
        {{ amount }}


        <h3>Lector</h3>

        <h3>Organizer</h3>

        <h3>Organizer 50:50</h3>
    {% endif %}

    {{ render(controller('App\\Controller\\ProvisionController::renderProvisionForm')) }}
{% endblock %}
