{% extends 'base.html.twig' %}

{% block main %}
    <h2>Create new lecture</h2>

    lala

    {#{{ render(controller('App\\Controller\\LectureController::componentLectureForm')) }}#}
{% endblock %}
