{% extends 'base.html.twig' %}

{% block main %}
    <h2>Create new lecture</h2>

    lala
    <li>squltite + Doctrine</li>
    <li>add it</li>
    <li>render them all</li>

    {#{{ render(controller('App\\Controller\\LectureController::componentLectureForm')) }}#}
{% endblock %}
