{% extends 'base.html.twig' %}

{% block main %}
    <h2>Create new lecture</h2>


    - foreach items from database
    - just rende rthem
    - with lecure detail

    - mimic: https://pehapkari.cz/vzdelavej-se/
    - include the smae style

    lala
    <li>squltite + Doctrine</li>
    <li>add it</li>
    <li>render them all</li>
{% endblock %}
