{% extends 'base.html.twig' %}

{% block main %}
    <h2>Create new lecture</h2>

    - foreach items from database to render them all
    - with lecure detail

    - mimic: https://pehapkari.cz/vzdelavej-se/
    - include the style
{% endblock %}
